# EditorConfig helps maintain consistent coding styles across different editors and IDEs
# https://editorconfig.org

root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Java files
[*.java]
indent_style = space
indent_size = 2
max_line_length = 120

# Kotlin files
[*.{kt,kts}]
indent_style = space
indent_size = 2
max_line_length = 120
ij_kotlin_allow_trailing_comma = true

# XML files
[*.xml]
indent_style = space
indent_size = 2

# YAML files
[*.{yaml,yml}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# Gradle files
[*.gradle{,.kts}]
indent_style = space
indent_size = 2

# Properties files
[*.properties]
indent_style = space
indent_size = 2

# Markdown
[*.md]
indent_style = space
indent_size = 2
max_line_length = 100
trim_trailing_whitespace = false
