---
name: Linter & Formatter

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref_name }}
  cancel-in-progress: true

jobs:
  prettier:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      security-events: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 25.2.0
      - name: Init local project
        run: npm init -y
      - name: Install deps
        run: |
          npm install --save-dev \
            prettier@3.6.2 \
            prettier-plugin-java@2.7.7 \
            prettier-plugin-toml@2.0.6
      - name: Run Prettier
        run: npx prettier --config .prettierrc.yaml --write .
      - id: verify_format
        name: Verify no changes after formatting
        run: |
          changed_files="$(git diff --name-only)"

          if [[ -z "$changed_files" ]]; then
            echo "Code is properly formatted."
            exit 0
          fi

          cat <<EOF
          Code is not formatted properly. Please run Prettier locally and commit the changes.

          Changed files:
          $changed_files
          EOF

          printf 'changed_files<<EOF\n%s\nEOF\n' "$changed_files" >> "$GITHUB_OUTPUT"
          exit 1
      - if: failure()
        name: Upload formatter results
        uses: actions/upload-artifact@v4
        with:
          name: prettier-results
          include-hidden-files: true
          path: ${{ steps.verify_format.outputs.changed_files }}
          retention-days: 1

  yaml-linter:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      security-events: write
    steps:
      - uses: actions/checkout@v5
      - run: pip install yamllint==1.37.1
      - run: yamllint -c .yamllint.yaml --format github --strict .
