---
name: Workastra Server

on:
  pull_request:
    paths:
      - gradle/**
      - modules/**
      - build.gradle*
      - gradle.properties
      - gradlew*
      - settings.gradle*
  push:
    branches:
      - main
    paths:
      - gradle/**
      - modules/**
      - build.gradle*
      - gradle.properties
      - gradlew*
      - settings.gradle*

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref_name }}
  cancel-in-progress: true

env:
  REGISTRY: ghcr.io

jobs:
  check:
    name: Check
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up JDK 25.0.1
        uses: actions/setup-java@v5
        with:
          java-version: 25.0.1
          distribution: graalvm
          cache: gradle

      - name: Run checks
        run: ./gradlew --no-daemon clean check

      - name: Run native tests
        run: ./gradlew --no-daemon clean nativeTest

  build:
    name: Build
    runs-on: ubuntu-24.04
    needs: check
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        module: [console, worker]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # - name: Log in to Container Registry
      #   uses: docker/login-action@v3
      #   with:
      #     registry: ${{ env.REGISTRY }}
      #     username: ${{ github.actor }}
      #     password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository }}/${{ matrix.module }}

      - name: Build
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./modules/${{ matrix.module }}/Dockerfile
          push: false
          provenance: false
          sbom: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
